@media screen {
    #logo {
        display: grid;
        grid-template-columns: auto auto;
        position: absolute;
        right: 0.2vw;
    }
    #logo > img{
        width: 6.75vw;
    }
    #logo > a{
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding-right: 1vw;
        font-size: 3vw;
        color: black;
        align-self: center;
    }
    #header {
        position: -webkit-sticky;
        position: sticky;
        top:0;
        display:grid;
        width: 100%;
        z-index: 10;
        height: 6.75vw;
        grid-template-columns: auto auto;
    }
    #menu {
        display: grid;
        grid-template-columns: auto auto;
        position: sticky;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    #menu > a{
        text-decoration: none;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding-right: 0.5vw;
        font-size: 3vw;
        color: black;
    }
    
}